In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
pageviews = pd.read_csv('pageviews/pageviews.csv')

In [9]:
pageviews.columns

Index(['FEC_EVENT', 'PAGE', 'CONTENT_CATEGORY', 'CONTENT_CATEGORY_TOP',
       'CONTENT_CATEGORY_BOTTOM', 'SITE_ID', 'ON_SITE_SEARCH_TERM', 'USER_ID'],
      dtype='object')

In [35]:
dates = pageviews['FEC_EVENT']
print("Min date is {} and max date is {}".format(dates.min(), dates.max()))

Min date is 2018-01-01 00:09:17 and max date is 2018-12-31 23:59:59

In [20]:
pageviews.describe()

,PAGE,CONTENT_CATEGORY,CONTENT_CATEGORY_TOP,CONTENT_CATEGORY_BOTTOM,SITE_ID,ON_SITE_SEARCH_TERM,USER_ID
count,1.793693e+07,1.793693e+07,1.793693e+07,1.793693e+07,1.793693e+07,1.793693e+07,1.793693e+07
mean,6.729278e+01,2.328020e+00,1.988468e+00,2.328020e+00,2.541544e+00,1.003588e+00,5.019533e+03
std,1.668111e+02,1.969341e+00,4.497693e-01,1.969341e+00,6.446994e-01,8.012887e-01,3.297808e+03
min,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00
25%,3.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,2.094000e+03
50%,2.100000e+01,2.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,4.508000e+03
75%,5.900000e+01,2.000000e+00,2.000000e+00,2.000000e+00,3.000000e+00,1.000000e+00,7.900000e+03
max,1.835000e+03,6.800000e+01,1.300000e+01,6.800000e+01,4.000000e+00,2.950000e+02,1.167500e+04

### Some observations

* There are unique 11676 users
* There are 1835 pages
* There are 68 content category and 68 content category botton
* There are 4 types of site_id
* There are 13 content category top
* In all 295 items are searched

### Most interactive users

In [28]:
pageviews['USER_ID'].value_counts()[:10]

53      36025
464     19760
873     17706
2290    14430
1496    13600
8507    13559
238     12850
3034    12698
7873    12552
9168    12486
Name: USER_ID, dtype: int64

### Check if there is any null value in the page views dataset

In [34]:
%timeit
pageviews.isnull().values.any()

False

In [40]:
pageviews.tail()

,FEC_EVENT,PAGE,CONTENT_CATEGORY,CONTENT_CATEGORY_TOP,CONTENT_CATEGORY_BOTTOM,SITE_ID,ON_SITE_SEARCH_TERM,USER_ID
17936929,2018-10-31 16:18:06,3,2,2,2,3,1,4639
17936930,2018-10-31 16:18:35,23,2,2,2,3,1,4639
17936931,2018-10-31 16:23:38,5,2,2,2,2,1,4639
17936932,2018-10-16 10:53:29,1,1,1,1,1,1,4639
17936933,2018-10-16 10:54:09,2,2,2,2,2,1,4639

In [43]:
device_data = pd.read_csv('device_data/device_data.csv')

In [44]:
device_data.head()

             FEC_EVENT  CONNECTION_SPEED  IS_MOBILE_DEVICE  USER_ID
0  2018-11-22 10:15:38                 1                 1      0.0
1  2018-09-11 09:39:41                 1                 1      0.0
2  2018-11-29 16:29:03                 3                 1      0.0
3  2018-05-16 21:12:54                 3                 1      0.0
4  2018-10-12 19:28:23                 3                 1      0.0

In [45]:
device_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2871406 entries, 0 to 2871405
Data columns (total 4 columns):
FEC_EVENT           object
CONNECTION_SPEED    int64
IS_MOBILE_DEVICE    int64
USER_ID             float64
dtypes: float64(1), int64(2), object(1)
memory usage: 87.6+ MB

### How many users are having interactions in device data?

In [47]:
len(device_data['USER_ID'].unique())

11676

### Are there nulls in device data?

In [48]:
device_data.isnull().values.any()

False

In [49]:
device_data.describe()

       CONNECTION_SPEED  IS_MOBILE_DEVICE       USER_ID
count      2.871406e+06      2.871406e+06  2.871406e+06
mean       1.567110e+00      7.496916e-01  5.639217e+03
std        1.106602e+00      4.331907e-01  3.268393e+03
min        0.000000e+00      0.000000e+00  0.000000e+00
25%        1.000000e+00      0.000000e+00  2.729000e+03
50%        1.000000e+00      1.000000e+00  5.890000e+03
75%        3.000000e+00      1.000000e+00  8.456000e+03
max        3.000000e+00      1.000000e+00  1.167500e+04

### Observations

* connection speed varies from 0 to 3 ( worse to best )
* Is mobile is a boolean flag as expected
* All 11676 users in this dataset

In [50]:
device_data['IS_MOBILE_DEVICE'].value_counts()

1    2152669
0     718737
Name: IS_MOBILE_DEVICE, dtype: int64

In [51]:
len(device_data)

2871406

In [59]:
print("""
There are {} records in the device data
{:.2f} % use Mobile and remaining
{:.2f} % do not use it. May be they use a PC""".format(len(device_data), 
                                                   100 * 2152669/len(device_data),
                                                   100 * 718737/len(device_data)))

There are 2871406 records in the device data
74.97 % use Mobile and remaining
25.03 % do not use it. May be they use a PC

* We need to join this device_data with our pageviews dataset to get a master train dataset
* Device data has 2.8 million records whereas
* pageviews has a whopping of 17.9 million records
* On what column should we join to not lose data?

* I think we can't do it on user_id why? because its not a fundamental unique thing here. The key of device data lies in 
* the event when it was registered which is date! May be I am wrong but I would like to merge on date
* We can do a left join (left being page views) this way for dates where don't have device data we 'll get nulls

In [62]:
device_data_dates = device_data['FEC_EVENT']
pageviews_dates = pageviews['FEC_EVENT']

In [75]:
print("""
device data has in total {} dates but only {} are unique!
pageviews has in total {} dates but only {} are unique""".format(len(device_data_dates), len(device_data_dates.unique()),
                                                                 len(pageviews_dates), len(pageviews_dates.unique())))

device data has in total 2871406 dates but only 2592597 are unique!
pageviews has in total 17936934 dates but only 10496454 are unique

It would be interesting to checkout what's happening at these duplicate date time instances !